.main {
  min-height: 85vh;
}

.reg-form form {
  margin-top: 6rem;
  padding: 2rem 1rem;
  width: 400px;
  border-radius: 5px;
  border: 1px solid rgba(186, 186, 186, 0.524);
  box-shadow: -5px 5px 5px rgba(180, 180, 180, 0.421);
}
